
CS50x/WSPJ.mp4
CS50w/Archive/CS50w_old_tests_videos
CS50w/Archive/cs50w_commerce/auctions/migrations/__pycache__
CS50w/Archive/cs50w_commerce/auctions/__init__.py
CS50w/Archive/cs50w_commerce/commerce/__pycache__
CS50w/Archive/cs50w_wiki/encyclopedia/__pycache__
CS50w/google-search-v2.mp4
CS50p/pset5/test_twttr/__pycache__
CS50p/pset5/test_bank/__pycache__
CS50p/pset5/test_plates/__pycache__
CS50p/pset5/test_plates/__pycache__
CS50p/pset5/test_fuel/__pycache__
CS50p/pset6/lines/__pycache__
CS50p/pset6/pizza/__pycache__
CS50p/pset7/numb3rs/__pycache__
CS50p/pset7/working/__pycache__
CS50p/pset7/um/__pycache__
CS50p/pset8/seasons/__pycache__